<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="book$ | async as book; else loading">
<table>
  <thead>
  <tr>
    <td></td>
    <td>{{book.title}}</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: center">
      <div>
        <img [src]="book.image">
      </div>
      <br>
      <div><app-buy-book [book]="book"></app-buy-book></div>
    </td>
    <td>
      <div>Auteur : {{book.author}}</div>
      <div>ISBN : {{book.isbn10}}</div>
      <div>Pages : {{book.pages}}</div>
      <div>Prix : {{book.price | currency: 'EUR'}}</div>
      <div>{{book.rating | etoile}}</div><!-- <app-rating [rate]="book.rating" ></app-rating> -->
      <div>votes : {{book.votes}}</div>
      <div class="description" [innerHTML]="book.description"></div>
    </td>
  </tr>
  </tbody>
</table>
</div>
