<div>
  <nav>
    <a routerLink="/catalog" routerLinkActive="active">Catalogue</a>
    <a routerLink="/panier/content" routerLinkActive="active">Panier</a>
    <a routerLink="/panier/order" routerLinkActive="active">Commande (Template driven form)</a>
    <a routerLink="/panier/reactive" routerLinkActive="active">Commande (reactive form)</a>
  </nav>
</div>
<!--
<mat-button-toggle-group name="menu" class="toggleMenu">
  <mat-button-toggle [routerLink]="'/catalog'">Catalogue</mat-button-toggle>
  <mat-button-toggle [routerLink]="'/panier/content'">Panier</mat-button-toggle>
  <mat-button-toggle [routerLink]="'/panier/order'">Commande (Template driven form)</mat-button-toggle>
  <mat-button-toggle [routerLink]="'/panier/reactive'">Commande (reactive form)</mat-button-toggle>
</mat-button-toggle-group>
-->
